* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: black;
    /* background: radial-gradient(100% 225% at 100% 0%, #FF0000 0%, #000000 100%), linear-gradient(236deg, #00C2FF 0%, #000000 100%), linear-gradient(135deg, #CDFFEB 0%, #CDFFEB 36%, #009F9D 36%, #009F9D 60%, #07456F 60%, #07456F 67%, #0F0A3C 67%, #0F0A3C 100%);
    background-blend-mode: overlay, hard-light, normal; */
    /* background: linear-gradient(129.96deg, #FDCBFB 10.43%, #000000 92.78%), 
                radial-gradient(100% 100% at 50% 0%, #FFFFFF 0%, #000353 100%), 
                linear-gradient(121.18deg, #1400FF 0.45%, #3A0000 100%), 
                linear-gradient(341.1deg, #F3D0FC 7.52%, #1700A4 77.98%), 
                linear-gradient(222.34deg, #A90000 12.99%, #00FFE0 87.21%), 
                linear-gradient(150.76deg, #B7D500 15.35%, #2200AA 89.57%);
    background-blend-mode: overlay, overlay, difference, difference, difference, normal; */

    background: linear-gradient(114.95deg, rgba(235, 0, 255, 0.5) 0%, rgba(0, 71, 255, 0) 34.35%), linear-gradient(180deg, #004B5B 0%, #FFA7A7 100%), linear-gradient(244.35deg, #FFB26A 0%, #3676B1 50.58%, #00A3FF 100%), linear-gradient(244.35deg, #FFFFFF 0%, #004A74 49.48%, #FF0000 100%), radial-gradient(100% 233.99% at 0% 100%, #B70000 0%, #AD00FF 100%), linear-gradient(307.27deg, #219D87 0.37%, #2650BA 50.19%, #2800C6 100%), radial-gradient(100% 140% at 100% 0%, #FF00C7 0%, #006C7A 49.48%, #760000 100%);
    background-blend-mode: hard-light, overlay, overlay, overlay, difference, difference, normal;
}
body:before {
    content: 'L';
    color: white;
    display: block;
    text-align: center;
    font-size: 266px;
    font-family: 'Times';
}